---
import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import { BLOG } from "@constants";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class="space-y-8">
      <h4 class="animate font-semibold text-black dark:text-white">{BLOG.TITLE}</h4>
      <p class="animate text-black dark:text-white">
        I'm a long-time lurker, and haven't written anything yet. But check back soon!
      </p>
      <!--<ul class="animate flex flex-col gap-4">-->
      <!--  {-->
      <!--    projects.map((project) => (-->
      <!--      <li>-->
      <!--        <ArrowCard entry={project} />-->
      <!--      </li>-->
      <!--    ))-->
      <!--  }-->
      <!--</ul>-->
    </div>
  </Container>
</BaseLayout>
