@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;
  @apply font-sans antialiased;
  @apply bg-stone-100 dark:bg-stone-900;
  @apply text-black/50 dark:text-white/75;
}

header {
  @apply fixed top-0 right-0 left-0 z-1 py-5;
  @apply bg-stone-100/75 dark:bg-emerald-950/25;
  @apply saturate-200 backdrop-blur-sm;
}

main {
  @apply flex-1 py-28;
}

article {
  @apply prose dark:prose-invert prose-img:mx-auto prose-img:my-auto max-w-full;
  @apply prose-headings:font-semibold prose-p:font-serif;
  @apply prose-headings:text-black prose-headings:dark:text-white;
  @apply prose-p:mt-1;
}

footer {
  @apply py-5 text-sm;
}

.animate {
  @apply translate-y-3 opacity-0;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply translate-y-0 opacity-100;
}

.no-transitions * {
   -webkit-transition: none !important;
   -moz-transition: none !important;
   -o-transition: none !important;
   -ms-transition: none !important;
   transition: none !important;
}`,
