@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    overflow-y: scroll;
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-stone-100 dark:bg-stone-900;
    @apply text-black/50 dark:text-white/75;
}

footer {
    @apply py-5 text-sm;
}

.animate {
    @apply opacity-0 translate-y-3;
    @apply transition-all duration-700 ease-out;
}

.animate.show {
    @apply opacity-100 translate-y-0;
}
