---
import Container from "@components/Container.astro";
import ThemeIcon from "@components/ThemeIcon.astro";
import { SITE } from "@constants";

// I don't like animating when we are reading some sort of slug (e.g. blog post or project).
const pathPieces = Astro.url.pathname.split("/");
const isSlug = pathPieces.length > 2;
---

<footer class={`${isSlug ? "" : "animate"}`}>
  <Container>
    <div class="flex items-center justify-between">
      <div>
        &copy; 2025 {`|`}
        {SITE.NAME}
      </div>
      <div class="flex flex-wrap items-center gap-1">
        <ThemeIcon />
      </div>
    </div>
  </Container>
</footer>
